h1 {
    margin:60px 60px 60px 10px;
}

body {
/** background: url('../img/back.png') center center;
 background-repeat: repeat; **/

	background: url('../img/back.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 1024px;
}


.everything{
    margin:30px auto;
    max-width: 1024px;
    font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    color: #666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
	padding: 10px 20px 0px;
	
	/** rounded corners **/
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	/** box shadow **/
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.28);

}


.gallery {
    width:100%;
    max-width:500px;
    float:right;
}




/**SCROLLING **/

.slideshow {
  position: relative;
  overflow: hidden;
    height: 100%;

}
.images {
    background: url('../img/logo-banner.png');
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: slideshow 30s linear infinite;
  -moz-animation:    slideshow 30s linear infinite;
  
   -webkit-transform: translate3d(0, 0, 0);
}
@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}


@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }    
    100% { 
        -webkit-transform: translateX(-200%);  
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-200%); 
    }
}

/** END SCROLLING **/






.footcontent {

    margin: 5px;
    padding-top: 25px;
    clear: both;
	height: 75px;
padding-bottom: 40px;

}

.headcontent {
    background: url('../img/header2.png') center center;	
    background-repeat: no-repeat;
    padding: 20px 0px 120px;
	display: block;
    margin-left: auto;
    margin-right: auto

}

.maincontent {
    /* background: url('../img/back.png') center center; */
    background-repeat: no-repeat;
    position: relative;
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bodyimage {
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 5px;
}

.left {
    float: left;
    max-width:400px;
}





p {
    text-align: justify;
    padding: 0 20px;
    margin-bottom: 20px;

}


a, a:visited {
    color: #C30;
    text-decoration: none;
    /*border-bottom: 1px dotted #C30;*/
}