h1 {
    margin:60px 60px 60px 10px;
}

body {
/** background: url('../img/back.png') center center;
 background-repeat: repeat; **/

	background: url('../img/back1.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 1024px;
}


.everything{
    margin:30px auto;
    max-width: 1024px;
    font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    color: #666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
	padding: 10px 20px 0px;
	
	/** rounded corners **/
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	/** box shadow **/
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.28);

}


.gallery {
    width:100%;
    max-width:500px;
    float:right;
}


.externalLinksContainer{
  height:100%;
   width: 100%;
   margin: 0;
   padding-top: 40px;
   border: 0;


}

.externalLinks td{
 vertical-align: middle;
 text-align: center;

}

.externalLinks{


   float: right;
   
   }


/**SCROLLING **/

.slideshow {
  position: relative;
  overflow: hidden;
    height: 100%;

}
.images {
   background: url('../img/newbanner1.png');
    height: 75px;
    width: 4930px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
    -moz-transition:  opacity 0.5s ease-out; 
       -o-transition: opacity 0.5s ease-out; 
  -webkit-transition: opacity 0.5s ease-out; 
      -ms-transition: opacity 0.5s ease-out; 

    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
    
}
@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -3300px; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -3300px; }
}


@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }    
    100% { 
        -webkit-transform: translateX(-3300px);  
    }
}
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-3300px); 
    }
}

/** END SCROLLING **/






.footcontent {

    margin: 5px;
    padding-top: 25px;
    clear: both;
	height: 75px;
	padding-bottom: 70px;
	

}

.headcontent {
    background: url('../img/header2.png') center center;	
    background-repeat: no-repeat;
    padding: 20px 0px 120px;
	display: block;
    margin-left: auto;
    margin-right: auto

}

.maincontent {
    /* background: url('../img/back.png') center center; */
    background-repeat: no-repeat;
    position: relative;
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bodyimage {
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 5px;
}

.left {
    float: left;
    max-width:400px;
}





p {
    text-align: justify;
    padding: 0 20px;
    margin-bottom: 20px;

}


a, a:visited {
    color: #C30;
    text-decoration: none;
    /*border-bottom: 1px dotted #C30;*/
}


/** pre loader **/

/* Preloader */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFFEF7; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/slider/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}